<div class="footer-social">
    <a href="https://www.facebook.com/RicardoQuaresma/" target="_blank"><img src="https://cdn0.iconfinder.com/data/icons/brands-outlined-3/194/facebook-social-network-brand-logo-512.png" alt="Facebook" width="30"></a>
    <a href="https://x.com/07RQuaresma" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/1227/X-64.png" alt="Twitter" width="30"></a>
    <a href="https://www.instagram.com/ricardoquaresmaoficial/" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-64.png" alt="Instagram" width="30"></a>
</div>

<footer> © 2024 Ricardo Quaresma Page</footer>
