{% extends 'base.html' %}

{% block title %}    AnaSayfa{% endblock %}

{% block content %}
    {% include 'slider.html' %}
    
<p> Ricardo Andrade Quaresma Bernardo kanat pozisyonunda görev yapmış Portekizli eski futbolcudur.Futbol kariyerine Sporting Lizbon'da başladı ve sırasıyla Barcelona, İnter Milan, Porto, Chelsea, Beşiktaş, El-Ehli, Kasımpaşa ve son olarak da Vitória forması giydi. Dünya futbolunun sayılı yeteneklerinden biri olarak kabul edilen Quaresma, rabona ve trivela hareketleriyle tanınmaktadır.

    15 yıl boyunca Portekiz millî takımı formasını giyen Quaresma, 80 maçta forma giydi ve 10 kez gol atma başarısı gösterdi. 2016 Avrupa Futbol Şampiyonası'nı kazanan takımın parçasıydı. </p>

    <br>
    <br>
    <h2> Oynadığı Takımlar </h2>
    
    <ul>
        <li> Sporting Lizbon </li>
        <li> Barcelona </li>
        <li> İnter Milan </li>
        <li> Porto </li>
        <li> Chelsea </li>
        <li> Beşiktaş </li>    
        <li> El-Ehli </li>
        <li> Kasımpaşa </li>
        <li> Vitória </li>
    </ul>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HES_rbvf3GU?si=1XaPvhsa8QprkejQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <br>


{% endblock %}